.App {
  font-family: "Fira Sans", sans-serif;
}
body {
  /* background-color: #fafaff;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png"); */
  background-color: #fafaff;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
}
